h2{
    justify-content: center;
    align-items: center;
    display: flex;
    color: darkslategrey;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-feature-settings: "smcp", "zero";
    letter-spacing: 0,5px;
    border-radius: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: darkslategray;
    font-feature-settings: "smcp", "zero";
    letter-spacing: 1px;
}

form{
    background-color: darkseagreen;
    width: 250px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px darkgray;
}

input{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button{
    padding: 10px 20px;
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
    margin: auto;
}

button:hover{
    background-color: darkolivegreen;
    cursor: pointer;
}

#hasil{
    margin-top: 15px;
    font-weight: bold;
}