body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
}

.page-header {
    text-align: center;
    padding: 30px;
    border-top: 1px solid;
    margin-top: 10px;
    background-color: hotpink;
    color: white;
}

table {
    border-collapse: collapse;
    width: 70%;
    background: whitesmoke;
    justify-content: center;
    text-align: center;
    margin: 20px auto; 

}

table th, table td {
    padding: 10px;
    border: 1px solid;
    text-align: center;
}

h2 {
    padding: 1.5px;
    margin-top: 10px;
    background-color: hotpink;
    color: white;
}
a {
    text-decoration: none;
    background-color: violet;
    padding: 3px 10px;
    border-radius: 5px;
    color: black;
}

button {
    background: violet;
    color: black;
    border-radius: 5px;
}